<configuration>
  <packageSources>
    <clear />
    <add key="Dilcore" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Dilcore>
      <add key="Username" value="your_username" />
      <add key="ClearTextPassword" value="your_password" />
    </Dilcore>
  </packageSourceCredentials>
</configuration>