@page "/"
@using Dilcore.WebApp.Features.Tenants.List

<PageTitle>Tenant Portal</PageTitle>

    <div class="mb-10">
        <MudText Typo="Typo.h3" Class="mb-2" Style="font-weight: 900; letter-spacing: -0.025em;">Select Organization</MudText>
        <MudText Typo="Typo.body1" Color="Color.Secondary" Style="font-size: 1.125rem; line-height: 1.75rem; max-width: 42rem;">Access and manage your deployed tenant environments. Select an instance to view detailed metrics.</MudText>
    </div>

    <TenantList />
